@font-face {
  font-family: "doodleregular";
  src: url("fonts/doodle-regular-webfont.woff2") format("woff2"),
    url("fonts/doodle-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
